.card-body {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  padding: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: large;
  position: relative;
  width: 75%;
  background-color: #eef5ff;
}

.img {
  border-radius: 4px;
}

.text {
  margin-left: 3rem;
  text-align: left;
}

.title {
  color: #4b5563;
  margin: 5px;
}

.descripcion {
  color: #4b5563;
}

.price {
  position: absolute;
  bottom: 0;
  color: #4b5563;
  font-weight: 500;
  display: flex;
  margin-bottom: 1rem;
}
